<!doctype html>
<html>

<head>
    <title>Go Drive</title>
    <link rel="stylesheet" href="../public/style.css">

</head>

<body>

    <nav id="nav_bar">
        <div class="left-nav">
            <h1>Go Drive</h1>
        </div>
        <div class="right-nav">
            <ul>
                <a href="#{url}">
                    <li>Upload</li>
                </a>
                <a href="#{url}">
                    <li>DeleteFile</li>
                </a>
                <a href="#{url}">
                    <li>Download</li>
                </a>
            </ul>
        </div>
    </nav>
    <section id="sec-main">
        <div class="container-main">
            <h1 class="center-text">Go Drive</h1>
            <p class="center-text">welcome to Go Drive , easy to upload files, select file and Download , delete file
            <p class="center-text"> <strong>let's drive it !</strong> </p>
        </div>
    </section>
    <section id="sec-upload">
        <div class="container-upload">
            <h1 class="center-text">Upload File Now</h1>
            <p class="center-text">simple to upload file just click the bellow button and upload it. and sign in using google.select file from storage and upload it .</p>
            <a href="#{url}" id="upload_btn">Upload Now</a>
           
        </div>
    </section>
    <section id="sec-picker">
        <div class="container-picker">
            <h1 class="center-text">Select File from drive</h1>
            <p class="center-text">just click on select now and select your file from drive and make easy to download ,delete amd share !</p>
            <a href="#{url}" id="picker_btn">Select Now</a>
        
        </div>
    </section>
    <footer class="footer">
        <div class="footer-box">

            <h1>copyrights © Go Drive | govind singh </h1>
        </div>
    </footer>
</body>

</html>